# Environnement virtuel
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Modèles IA (trop lourds pour Git)
*.pth
*.pt
*.tflite
*.onnx

# Dataset (trop lourd pour Git)
dataset/

# Variables d'environnement
.env

# Pytest
.pytest_cache/

# Divers
*.egg-info/
*.log